
//menu
.menu {
  width: 100%;
  text-align: center;
  float: left;
  height: 50px;
  background-color: $back-color2;
  border-bottom: 5px solid $back-color2;
  // position: fixed;

}

.menu__nadpis {
  color: $text-color-menu;
  float: left;
  line-height: 55px;
  height: 50px;
  font-family: $header-font;
}

.menu__wrapper {
  width: 1200px;
  margin: auto;
  margin-left: 20px;
}

.menu__ul {
  list-style: none;
  height: 50px;
  float: left;
  margin-left: 20px;
}

.menu__nadpis--a {
  color: $text-color-menu;
  text-decoration: none;
  border-right: 2.5px solid;
  padding-right: 10px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu__polozka {
  height: 50px;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
  float: left;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -o-transition: background-color .3s;
}

.menu__polozka:hover {
  background-color: $back-color2-hover;
}

.menu__odkaz {
  color: $text-color-menu;
  height: 50px;
  padding-right: 15px;
  line-height: 55px;
  padding-left: 15px;
  font-family: $header-font;
  font-weight: bold;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

.menu__TelefonTlacitko {
  display: none;
  float: right;
  outline: none;
  border: none 0px transparent;
  background-color: transparent;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  color: $text-color-menu;
  padding-left: 5px;
  padding-right: 5px;
}

.menu__hlavniMenu {
  float: left;
}

.menu__PrihlaseniMenu {
  float: right;
}

.menu__pc-telefon--overeni {
  display: block;
}

/*
-Respozivita
*/

@media (max-width: 1250px) {
  .menu__wrapper {
    width: 1045px;
  }
  #menu__TelefonTlacitko {
    display: none;
  }
  .menu__pc-telefon--overeni {
    display: block;
  }
}

@media (max-width: 1065px) {
  .menu__wrapper {
    width: 800px;
  }
  .menu__pc {
    display: none;
  }
  .menu__pc-telefon--overeni {
    display: none;
  }
  .menu__TelefonTlacitko {
    display: block;
  }
  .menu__telefon {
    width: 100%;
    height: 100%;
    z-index: 9999999;
    overflow: auto;
    display: none;
    top: 50px;
    left: 0px;
    position: fixed;
    background-color: $back-color2;
  }
  .menu__telefon--aktivni .menu__ul .menu__polozka {
    width: 100%;
    line-height: 50px;
    text-align: center;

  }
  .menu__telefon--aktivni .menu__ul {
    width: 100%;
    float: left;
    height: auto;
    margin-left: 0px
  }
}

@media (max-width: 830px) {
  .menu__wrapper {
    width: 700px;
  }
}

@media (max-width: 730px) {
  .menu__wrapper {
    width: 600px;
  }
}

@media (max-width: 630px) {
  .menu__wrapper {
    width: 500px;
  }
}

@media (max-width: 530px) {
  .menu__wrapper {
    width: 400px;
  }
}

@media (max-width: 430px) {
  .menu__wrapper {
    width: 300px;
  }
}

@media (max-width: 330px) {
  .menu__wrapper {
    width: 270px;
  }
}

.twitter-icon {
  font-size: 2em;
  margin-top: 10px;
  color: blue;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;

}